.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/src/main/java/org/ciasaboark/canorum/vending/KeySet.java
/app/src/main/java/org/ciasaboark/canorum/vending/KeySet.java
